.main .palm-page-header-wrapper .icon
{
	width: 64px;
	height: 74px;
	background: url(../icon.png) center center no-repeat;
}
.main .palm-page-header-wrapper .title.main {
	left: 10px;
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 0px;
}

.main .palm-page-header-wrapper .title.sub {
	left: 10px;
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}

.map-row {
	padding-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

.map-row .bbox {
	color: gray;
	font-style: italic;
	font-weight: normal;
	font-size: 75%;
	float: right;
	bottom: 0px;
	left: 0px;
}

.map-row .size {
	color: gray;
	font-style: italic;
	font-weight: normal;
	font-size: 75%;
	float: left;
	bottom: 0px;
	right: 0px;
}

.mapDir {
	background: url(../images/folder.png) right center no-repeat;
}

.mapDownload {
	background: url(../images/download.png) right center no-repeat;
}

.active {
	font-weight: bold;
}

.inactive {}

.new {
	font-style: italic;
}

/*
 * Startup Scene Styles
 */
.startup #data .palm-divider.labeled .label
{
	text-transform: lowercase;
}
.startup #data
{
	font-size: 18px;
}
.startup #data .text
{
	padding-top: 4px;
	padding-left: 17px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.startup #data ul
{
	margin: 0px;
	padding-left: 37px;
	padding-right: 15px;
	padding-bottom: 10px;
}

/*
 * Help Scene Styles
 */
.help .list_scene
{
	position:relative;
	left:48px;
	top:10px;
	width:32px;
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_web
{
	position:relative;
	left:8px;
	top:10px;
	width:32px;
	height:32px;
	background: url(../images/help/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_email
{
	position:relative;
	left:8px;
	top:10px;
	width:32px;
	height:32px;
	background: url(../images/help/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_changelog
{
	position:relative;
	left:8px;
	top:10px;
	width:32px;
	height:32px;
	background: url(../images/help/scene-changelog.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help #data
{
	padding: 10px;
	font-size: 18px;
}
.help #data ul
{
	margin: 0px;
	padding-top: 10px;
	padding-left: 26px;
	padding-right: 0px;
	padding-bottom: 10px;
}
