<div id="MapManagerScene" class="main form">
    <div class="scene-fade-top" x-mojo-scroll-fade="top">
    </div>
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="icon" id="icon">
            </div>
            <div id="MapManagerTitle" class="title main">
                Navit
            </div>
            <div id="MapManagerSubtitle" class="title sub">
                Map Manager
            </div>
        </div>
    </div>
    <div id="MapList" x-mojo-element="List">
    </div>
</div>
