<div id="StartNavitScene" class="main form">
    <div class="scene-fade-top" x-mojo-scroll-fade="top">
    </div>
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="icon" id="icon">
            </div>
            <div id="StartNavitTitle" class="title main">
                Navit
            </div>
            <div id="StartNavitSubtitle" class="title sub">
                Targets
            </div>
        </div>
    </div>
    <div class="palm-scrim" id="search_divScrim" style="display:none;">
	  <div id="search_divSpinner" x-mojo-element="Spinner"></div>
	</div>
    <div id="LocList" x-mojo-element="List">
    </div>
</div>
